video {
  position: absolute;
  height: 600px;
  z-index: 10;
  /* prevents video from being selected by devtools DOM selector */
  pointer-events: none;
  opacity: .3;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* browser creates a 1x1 grid for us */
  display: grid;
  grid-template-columns: 550px 1fr;
  grid-template-rows: 86px 1fr 58px;
}

.top {
  background: purple;
  grid-column-end: span 2;
  color: #fff;
  display: grid;
  grid-template-columns: 228px 1fr 150px 1fr 228px;
}

.hearts {
  background: yellow;
  padding-top: 24px;
  padding-left: 47px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.heart {
  background: red;
  width: 15px;
  height: 12px;
  margin-bottom: 4px;
  margin-right: 1.4px;
}

.left-button {
  align-self: end;
  justify-self: end;
  margin-bottom: 16px;
  margin-right: 12px;
}

.right-button {
  align-self: end;
  margin-bottom: 16px;
}

.location {
  align-self: center;
  margin-left: 18px;
}

.rupees {
  align-self: center;
  justify-self: end;
  margin-right: 60px;
}

/* LEFT */

.left {
  background: green;
}

.inventory-nav {
  background: limegreen;
  height: 80px;
}

.title {
  text-align: center;
  color: #fff;
  background: #0afc0a;
  height: 30px;
  padding-left: 50px;
  padding-top: 15px;
}

.links {
  padding-left: 140px;
  padding-top: 12px;
  padding-right: 93px;
  display: flex;
  justify-content: space-between;
}

.link {
  background: #fff;
  height: 24px;
  width: 28px;
  display: inline-block;
}

.right {
  background: orangered;
}

.bottom {
  background: blue;
  grid-column-end: span 2;
}
